.register-container {
  width: 100%;
  display: flex;
  justify-content: center; /* центрируем по горизонтали */
  padding: 40px 0; /* отступы сверху и снизу */
  background: #fff;
}

.register-form-container {
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #f2e2c5;
  border-radius: 6px;
}

.register-title {
  text-align: center;
  margin-top: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 95%;
  padding: 8px;
}

.error {
  color: red;
  font-size: 12px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #be8a54;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
